@media screen and (orientation:portrait) {
    :root {
        --unit: 1vw;
    }
}
@media screen and (orientation:landscape) {
    :root {
        --unit: 1vh;
    }
}

body {
    --green: #34CC83;
    --purple: #9900FF;
    --blue: #6ED8FF;
    --pink: #FF2B80;
    --yellow: #FFF95B;

    background-color: lightslategrey;
    font-family: Verdana;
}

body .button {
    cursor: pointer;
    display: flex;
}

body .button:hover {
    background-color: darkgrey;
}

#notes_container_banner {
    background-color: yellow;
    font-size: calc(2*var(--unit));
    font-weight: bold;
    margin: var(--unit);
    padding: var(--unit);
}

#notes .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body .note {
    background-color: lightyellow;
    margin: var(--unit);
    padding: var(--unit);
}

body .note .title {
    font-weight: bold;
}

body .note .text {
    text-align: justify;
}

#write_new_note_button_container {
    display: flex;
    justify-content: flex-end;
    padding: var(--unit);
    margin: var(--unit);
}

#write_new_note_button {
    font-size: calc(4*var(--unit));
}

#ongoing_note_container {
    display: flex;
    flex-direction: column;
    padding: var(--unit);

}

#new_note_buttons_container {
    display: flex;
    flex-direction: row;
}

#new_note_title, #new_note_text {
    font-size: calc(2*var(--unit));
    padding: var(--unit);
}

#new_note_buttons_container .button {
    font-size: calc(4*var(--unit));
    padding: var(--unit);
}

