@media screen and (orientation:portrait) {
    :root {
        --unit: 1vw;
    }
}
@media screen and (orientation:landscape) {
    :root {
        --unit: 1vh;
    }
}

body {
    --green: #34CC83;
    --purple: #9900FF;
    --blue: #6ED8FF;
    --pink: #FF2B80;
    --yellow: #FFF95B;
}

body .button {
    background-color: var(--yellow);
    cursor: pointer;
    display: flex;
}

body .button:hover {
    background-color: var(--pink);
}

#notes_container_banner {
    background-color: var(--purple);
}

#notes {
    background-color: var(--purple);

}


body .note {
    background-color: var(--blue);

}


#notes .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#notes .title, #notes .text {
    background-color: var(--green);
}

#ongoing_note_container {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
}

